<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <meta charset="utf-8">
        <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='login.css') }}">
    </head>

    <body>
        <div class=nav>
          <a class=active href="{{url_for('login')}}">Login</a>
          <a href="{{url_for('register')}}">register</a>
        </div>

        <h1>LOGIN PAGE</h1>
        <form action="" method="post" id="form1">
          <div class="details">
            <label>username:</label>
            <input type="text" name="user" value="{{request.form.user}}">
          </div>
          <div class="details">  
            <label>password:</label>
            <input type="password" name="pass" value="{{request.form.pass}}">
          </div>
        </form>
       <div class="button">
        <button type="submit" form="form1" value="Submit">Submit</button>
       </div>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p> 
        {% endif %} 
        <p class="user">new user?</p>
        <a href="{{url_for('register')}}" class="reg"><button>click to register</button></a>
    </body>


</html>