<!DOCTYPE html>
<html>
      <head>
        <title>view-expense</title>
        <meta charset="utf-8">
        <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='settle.css') }}">
      </head>
 <body>  
     <div class=nav>
       <a href="{{url_for('home')}}">Home</a>
       <a href="{{url_for('addexp')}}">Add expense</a>
       <a href="{{url_for('viewexp')}}">view expenses</a>
       <a href="{{url_for('delexp')}}">Delete expenses</a>
       <a class="active" href="{{url_for('settle')}}">settle</a>
       <a href="{{url_for('logout')}}">Logout</a>
     </div>    
    {% if data %}
    <table>
     <tr>
        <th>username</th>
        <th>amount to settle</th>
     </tr>
     {% for d in data %}
     <tr onclick="confirm_settle(this)">
        <td>{{d[0]}}</td>
        <td>{{d[1]}}</td>
        <td id="settle">settle</td>
     </tr>
     {% endfor %}
     </table>
     {% else %}
     <h3>there are no settlements to be done</h3>
     {% endif %}

    <form action="" method="post" id="form1" name="settle">
     <div>
        <label>user to settle:</label><input type="text" name="setuser">
     </div>
     <div>
        <label>amount to settle:</label><input type="number" name="amount">
     </div>
    </form>
    <div class="button">
        <button type="submit" form="form1">SETTLE</button>
    </div>
    <p>{{msg}}</p>
</body>

  <script>
      function confirm_settle(row){
          var x=row.cells;
          user=x[0].innerHTML;
          amt=x[1].innerHTML;
          var form=document.forms.settle;
          form.setuser.value=user;
          form.amount.value=amt;

      }
  </script>
</html>