div > a{
    font-size: 20px; 
    padding: 20px;
    float:left;
    text-decoration: none;
    color: teal;
}

.active{
    background-color: #000;
}

.nav {
    background-color:rgb(131, 6, 33);
    overflow: hidden;
  }

.button{
    padding: 20px;
    margin-left: 50px;
}

form{
    border:1px solid black;
    width: 500px;
    padding: 10px;
    margin-left: 50px;
}

form div{
    padding: 5px;
}

label{
    display: inline-block;
    text-align: left;
    width: 100px;
    padding: 10px;
}

input,textarea{
    width: 150px;
}

h1{
    text-align: center;
}

body{
    color: gray;
}