form{
    border:1px solid black;
    width: 500px;
    padding: 10px;
    margin: auto;
}

form div{
    padding: 5px;
}

label{
    display: inline-block;
    text-align: left;
    width: 90px;
}

input{
    width: 150px;
}

input:focus{
    border-color: #000;
  }

h1{
    color:teal;
    text-align: center;
    display: block;
}

.user,.reg{
    display: inline-block;
    position: relative;
    left:520px;
}

div > a{
    font-size: 20px; 
    padding: 20px;
    float:left;
    text-decoration: none;
    color: teal;
}

.active{
    background-color: #000;
}

.nav {
    background-color:rgb(131, 6, 33);
    overflow: hidden;
  }

.button{
    margin:auto;
    text-align: center;
    padding: 20px;
}

.error{
    text-align: center;
}

body{
    background-color: gray;
}
