form{
    border:1px solid black;
    margin:auto;
    width: 500px;
    padding: 10px;
}

form div{
    padding: 5px;
}

label{
    display: inline-block;
    text-align: left;
    width: 90px;
}

input{
    width: 150px;
}

input:focus{
    border-color: #000;
  }

h1{
    color:teal;
    text-align: center;
}

p{
    display: inline-block;
    position: relative;
    left:520px;
}

.error , .msg {
    position: relative;
    left: 500px;
}

div > a{
    font-size: 20px; 
    padding: 20px;
    float:left;
    text-decoration: none;
    color: teal;
}

.active{
    background-color: #000;
}

.nav {
    background-color: rgb(131, 6, 33);
    overflow: hidden;
  }

.button{
    margin:auto;
    text-align: center;
    padding: 20px;
}
body{
    background-color: gray;
}