div > a{
    font-size: 20px; 
    padding: 20px;
    float:left;
    text-decoration: none;
    color: teal;
}

.active{
    background-color: #000;
}

.nav {
    background-color: rgb(131, 6, 33);
    overflow: hidden;
  }

table,th,td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    padding: 20px;    
}

th{
    height: 50px;
    text-align: left;
    vertical-align: middle;
}

tr:hover {
    background-color:lightgrey;
}

h1{
   text-align: center;
   color: teal;
}
body{
    background-color: gray;
}